---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import BasePage from "../layouts/BasePage.astro";
import { Image } from "astro:assets";
---

<BasePage>
  <h1>关于我</h1>
</BasePage>
